.wrapper {
  position: relative;
  min-height: 480px;
  height: calc(100vh - 80px);
  max-height: 4096px;
}

.viz circle:hover {
  fill: red;
}

.images {
  display: none;
}

.userNodeTooltip {
  /* position: absolute;
  transform: translate(-50%, 25px);
  font-family: sans-serif;
  font-size: 16px;
  padding: 4px;
  border-radius: 3px;
  color: #eee;
  background: rgba(0,0,0,0.65);
  visibility: hidden; */
}
