.wrapper {
  position: relative;
  min-height: 480px;
  height: calc(100vh - 80px);
  max-height: 4096px;
}

.viz circle:hover {
  fill: red;
}

.images {
  display: none;
}

.userNodeTooltip {
  /* position: absolute;
  transform: translate(-50%, 25px);
  font-family: sans-serif;
  font-size: 16px;
  padding: 4px;
  border-radius: 3px;
  color: #eee;
  background: rgba(0,0,0,0.65);
  visibility: hidden; */
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
}

.loadingAnimation {
  width: 200px;
  height: 200px;
  max-width: calc(min(50vw, 50%));
  max-height: calc(min(50vh, 50%));
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
