.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
}

.loadingAnimation {
  width: 200px;
  height: 200px;
  max-width: calc(min(50vw, 50%));
  max-height: calc(min(50vh, 50%));
}
