.container {
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  width: 240px;
  max-width: 300px;
  padding: 12px;
}

.header {
  display: flex;
  margin-bottom: 12px;
}

.lhs {
  margin-right: 12px;
}

.rhs {
  display: flex;
  flex-direction: column;
}

.name,
.bold {
  font-weight: 700;
}

.stat {
  white-space: nowrap;
}

.bio {
  margin: 0 0 12px;
  max-height: 12em;
}

.actions {
  display: flex;
  flex-direction: column;
}

.actions button {
  width: 100%;
  margin-bottom: 12px;
}

.actions button:last-child {
  margin-bottom: 0;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: calc(min(160px, 100%));
  margin: 12px auto 0;
}

.twitter:hover {
  color: #2795e9;
}

.instagram:hover {
  color: #833ab4;
}

.external {
  position: relative;
  top: -1px;
  left: 4px;
}

@media (max-width: 700px) {
  .container {
    display: none;
  }
}
